<div class="root-menu">
	<h1>Welcome to railsHangman version 0.1!</h1>

	<div class="root-options">
		<%= button_to "New game",games_path, method: :post, class: "new-game" %>
		<%= button_to "Load game",games_path, method: :get, class: "load-game"%>
	</div>
</div>