<div class="keyboard">
	<button onclick="changeDisplayValue('q')">Q</button>
	<button onclick="changeDisplayValue('w')">W</button>
	<button onclick="changeDisplayValue('e')">E</button>
	<button onclick="changeDisplayValue('r')">R</button>
	<button onclick="changeDisplayValue('t')">T</button>
	<button onclick="changeDisplayValue('y')">Y</button>
	<button onclick="changeDisplayValue('u')">U</button>
	<button onclick="changeDisplayValue('i')">I</button>
	<button onclick="changeDisplayValue('o')">O</button>
	<button onclick="changeDisplayValue('p')">P</button>

	</br>

	<button onclick="changeDisplayValue('a')">A</button>
	<button onclick="changeDisplayValue('s')">S</button>
	<button onclick="changeDisplayValue('d')">D</button>
	<button onclick="changeDisplayValue('f')">F</button>
	<button onclick="changeDisplayValue('g')">G</button>
	<button onclick="changeDisplayValue('h')">H</button>
	<button onclick="changeDisplayValue('j')">J</button>
	<button onclick="changeDisplayValue('k')">K</button>
	<button onclick="changeDisplayValue('l')">L</button>

	</br>

	<button onclick="changeDisplayValue('z')">Z</button>
	<button onclick="changeDisplayValue('x')">X</button>
	<button onclick="changeDisplayValue('c')">C</button>
	<button onclick="changeDisplayValue('v')">V</button>
	<button onclick="changeDisplayValue('b')">B</button>
	<button onclick="changeDisplayValue('n')">N</button>
	<button onclick="changeDisplayValue('m')">M</button>
</div>