.game-item {
	display: flex;
	gap: 5px;
	margin: 5px 0 ;
}

.game-item a {
	display: block;
	flex: 3;
	text-decoration: none;
	color:black;
	padding: 5px 0;
}

.game-item button {
	padding: 5px 10px;
}

.game-item button:hover {
	background-color: red;
	border-color: red;
}

.game-item:hover {
	background-color: black;
	color: white!important;
}

.game-item a:hover {
	color: white;
}