.keyboard {
	width: 100%;
	display: flex;
	/*flex-wrap: wrap;*/
	flex-direction: column;
	gap: 3px;
}

.row1, .row2, .row3 {
	width: 100%;
	display: flex;
	justify-items: end;
}

.keyboard button {
	font-size: 18pt;
	padding: 10px 5px;
	min-width: 35px;
	border-radius: 8px;
}