html, body{
	height: 100%;
}

body {
	display: flex;
	align-items: center;
	justify-content: center;
}

.center-cont {
	width:  35%;
	display: flex;
	flex-direction: column;
	gap: 25px;
	font-family: Helvetica, sans-serif;
	background-color: lightgray;
	padding: 3.5%;
}

.display {
	background-color: white;	
}

.top-bar, .bottom-bar {
	text-align: center;
	border: 1px solid black ;
	padding: 3px;
}

.main-cont {
	min-height: 200px;
	display: flex;
	padding: 4%;
	border: 1px solid black;
}

.hangman-display {
	flex: 1;
}

.navigation {
	flex: 2;
}

.keyboard {
	display: flex;
	flex-wrap: wrap;
	gap: 3px;
}

.row1, .row2, .row3 {
	width: 100%;
	display: flex;
	align-items: flex-end;
}

.keyboard button {
	font-size: 18pt;
	padding: 10px 5px;
	min-width: 35px;
}

